html {
    font-size: 17px;
    box-sizing: border-box;
}




/* Basic Styles */

body {
    background-color: white;
    font-family: 'Special Elite', cursive;
    margin: 0;
}

.content {
    
    display: grid;
    place-items: center;
    
    
     
}

.grid {
    grid-column: 1;
    grid-row: 2;
    
}

/*I decided the header should tell you the site you're at on all the pages*/

header {
    background: black;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    
}

h1.logo {
    
    color: white;
    
}





/*This is mostly for the 'About/Home' and 'Contact' pages*/

.about {
    font-size: 1.7em;
    font-weight: 600;
    text-align: left;
    margin: 5px;
    padding: 8px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.wrapper-one {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 42rem;
}

.left {
    order: 1;
}

.right {
    order: 2;
    align-self: center;
    margin: 5px;
}


/*The icons on the contact page*/

.fa {
    color: #6d6d6d;
    text-align: center; 
    
}

.fa-huge {
    font-size: 10em;
}

/*The illustration on the 'Contact' page*/

img.chip {
    height: 99%;
    width: 99%;
}

/*The picture on the 'About/Home'page*/

img.polaroid {

   float: right;
   clear: right;
   width: 35%;
   height: 35%;
   margin: 5px 9px 5px 5px;
   padding: 4px;
   
}

.intro {
    margin-top: 46rem;
}

/* My Responsive Menu*/

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid white;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 5% 0 3%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    background: black;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
            transform-origin: top;
    transition: -webkit-transform 400ms ease-out;
    transition: transform 400ms ease-out;
    transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
    
       
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav li {
    margin-bottom: 3%;
    margin-left: 3%;
}

nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: white;
}

.nav-toggle:checked ~ nav {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
            
}


.nav-toogle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/****The thumbnails ***/



/* Shadow when you hover on the thumbnail */

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.thumb:hover,
.thumb:focus {
    cursor:pointer;
}


/*One way to make a site more responsive is through media queries*/

@media screen and (min-width: 900px) {
    .nav-toggle-label {
        display: none;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        
        
    }

    .content {
        height: 200vh;
        grid-template-rows: 180px repeat(3, 30%);
        
    }

    .grid {
        grid-column: 1;
        grid-row: 2;
    }

  

    .logo {
        grid-column: 3 / 3;
    }

    nav {
        /*Microsoft Edge support*/
        position: relative;
        text-align: left;
        transition: none;
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /*end of Edge support stuff*/
        grid-column: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 1.5em;
        /*margin-bottom: 0;*/
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: "";
        display: block;
        height: 5px;
        background: white;
        position: absolute;
        top: -.5rem;
        left: 0;
        right: 0;
        -webkit-transform: scale(0, 1);
                transform: scale(0, 1);
        transition: -webkit-transform ease-in-out 250ms;
        transition: transform ease-out 250ms;
        transition: transform ease-in 250ms, -webkit-transform ease-in-out 250ms;
      }
    
      nav a:hover::before {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
      }

}

@media screen and (max-width: 956px) {
    .grid {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 4rem;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 899px) {
    html {
        font-size: 15px;
    }
    
    .content {
        grid-template-rows: 100px repeat(3, 33%);
        /*place-items: center;*/
    }

    .logo {
        margin: 1em 0 1em 3em;
        
    }

    h1 {
        font-size: 1.5em;
        
    }
}

@media screen and (max-width: 802px) {
    .wrapper-one {
        margin-top: 47rem;
    }
}

/*@media screen and (max-width: 679px) {
    .intro {
        margin-top: rem
    }
}*/

@media screen and (max-width: 648px) {
    .nav-toggle-label {
        margin-left: 5%;
    }

    /*.about {
        font-size: 1em;
    }*/

   .intro {
        margin-top: 43rem;
    }

    .about {
        font-size: 1.5em;
    }
}


@media screen and (max-width: 640px) {

    

    img.polaroid {

        width: 35%;
        height: 35%;
        margin: 5px 6px 5px 5px;
        padding: 3px;
        
     }
}

/*@media screen and (max-width: 614px) {
    .intro {
        margin-top: 42rem;
    }
}*/


@media screen and (max-width: 549px) {
    .intro {
        margin-top: 45rem;
    }
}

@media screen and (max-width: 532px) {
        .wrapper-one {
            margin-top: 38rem;
        }

        .intro {
            margin-top: 42rem;
        }

        .about {
            font-size: 1.33em;
        }
    }

/*@media only screen and (max-width: 491) {
    .intro {
        margin-top: 42rem;
    }

}   */  

@media only screen and (max-width: 464px) {
    .nav-toggle-label {
        margin-left: 7%
    }

    

    .wrapper-one {
        margin-top: 39rem;
    }
}

/*Attempting to make sure the header looks good at all sizes*/

@media only screen and (max-width: 433px) {
    .intro {
        margin-top: 43rem;
    }
}

@media only screen and (max-width: 430px) {

    .logo {
        margin-right: 2em;
    }

    .intro {
        margin-top: 46.5rem;
    }


    .fa-huge {
        font-size: 7em;
    }

    .grid {
        margin: 3.25rem 0 0 2.33rem;
    }
}

@media only screen and (max-width: 421px) {
    .intro {
        margin-top: 48rem;
    }
}

@media only screen and (max-width: 400px) {
    .intro {
        margin-top: 50rem;
    }
} 

@media only screen and (max-width: 384px) {
    .intro {
        margin-top: 51rem;
    }
}

@media only screen and (max-width: 380px) {

    .wrapper-one {
        margin-top: 35rem;
    }

    .intro {
        margin-top: 34.5rem;
    }

    .about {
        font-size: 1em;
    }
      
}

/*@media only screen and (max-width: 363px) {
    .intro {
        margin-top: 54rem;
    }
}*/

@media only screen and (max-width: 359px) {
    .intro {
        margin-top: 36rem;
    }
}

@media only screen and (max-width: 335px) {
    .intro {
        margin-top: 38rem;
    }
}

/*Smartphone*/
@media only screen and (max-width: 320px) {


    .intro {
        margin-top: 39rem;
    }

    .wrapper-one {
        margin-top: 33rem;
    } 

   

}




@media only screen and (max-width: 299px) {
    .intro {
        margin-top: 40rem;
    }
}

@media only screen and (max-width: 287px) {
    .intro {
        margin-top: 42rem;
    }
}

@media only screen and (max-width: 280px) {


    .intro {
        margin-top: 43rem;
    }
    
}

/* Because of Nokia 8110 4G */
@media only screen and (max-width: 276px) {

    .intro {
        margin-top: 52rem;
    } 
    
}

/* Because of Nokia 8110 4G */
@media only screen and (max-width: 278px) {
    .wrapper-one {
        margin-top: 35rem;
    } 

    .intro {
        margin-top: 50.75rem;
    } 
}

@media only screen and (max-width: 240px) {
    .intro {
        margin-top: 54rem;
    } 
}