
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Basic Styles */

body {
    background-color: white;
    font-family: 'PT Sans', Arial, sans-serif;
}


/*I decided the header should tell you the site you're at on all the pages*/

header {
    font-size: 300%;
    align-content:stretch;
    font-weight: 800;
    text-align: center;
    background-color: black;
    color: white;
}

/*This is mostly for the 'About/Home' and 'Contact' pages*/

.about {
    font-size: 3.5vh;
    font-weight: 600;
    text-align: left;
    margin: 5px;
    padding: 8px;
}

.wrapper-one {
    width: 100%;
    position: relative;
    margin: 0 3px;
}

.left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

/*The icons on the contact page*/

.fa {
    color: #6d6d6d;
    margin: 8%;
    padding: 8%;
    text-align: center;
}

.fa-huge {
    font-size: 20vh;
}

/*The illustration on the 'Contact' page*/

img.chip {
   
    height: 99%;
    width: 99%;
    margin-left: 8px;
    padding-left: 4px;
}

/*The picture on the 'About/Home'page*/

img.polaroid {

   float: right;
   clear: right;
   width: 35%;
   height: 35%;
   margin: 5px;
   padding: 4px;
   
}

/* My Responsive Menu*/

nav {
    height: 40px;
    width: 100%;
    background: black;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    border-top: 3px solid black;
    border-bottom: 6px solid black;
    margin-bottom: 50px;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

nav li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    text-shadow: 1px 0 1px white;
}

nav a#pull {
    display: none;
}

/****The thumbnails ***/


/*.row > .column {
  padding: 0 3px;
}

.row:after {
  content: " ";
  display: table;
  clear: both;
}*/

.column {
  float: left;

}


.grid {
    text-align: center;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: display;
  background-color: rgba(0, 0, 0, 0.9) ;
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}


/*So I don't have to style the images inline*/

img.pic {
    width: 100%;
    height: 100%;
}

/* The Close Button */

.close {
  color: #595959;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 1;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Next & Previous Buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 22px;
  margin-top: -50px;
  color: #595959;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text */
.numbertext {
  color: #6d6d6d;
  font-size: 22px;
  padding: 3px 1px;
  position: relative;
  top: 0;
  font-weight: bold;
}

.demo:hover {
  opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.thumb:hover,
.thumb:focus {
    cursor:pointer;
}


/*One way to make a site more responsive is through media queries*/

@media screen and (max-width: 640px) {
    .thumb {
        width: 62%;
    }
    
    .fa {
        padding-left: 23px;
    }

/*The first of three media queries for the top navigation menu*/
       nav {
        height: auto;
    }
    
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    
    nav li a {
        border-bottom: 1px solid black;
    }
    
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }

/*While I'd initially created these rules due to issues involving the modal content, I kept them for the purpose of asthetics, even if they serve no mechanical purpose*/
   
    .close {
        color: #595959;
        top: 5px;
        right: 11px;
        font-size: 22px;
        font-weight: bolder;
    }
    .numbertext {
      color: #6d6d6d;
      font-size: 15px;
      padding: 15px;
      top: 0;
      bottom: 0;
}
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      padding: 11px;
      margin-top: -25px;
      font-weight: bold;
      font-size: 17px;
}

}


@media screen and (max-width: 480px) {

/*Another media query for the navigation*/
     
nav {
        border-bottom: 1px black;
    }
    
    nav ul {
        display: none;
        height: auto;
    }
    
    nav a#pull {
        display: block;
        background-color: black;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content: "";
        background: no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }

}

/*Attempting to make sure the header looks good at all sizes*/

@media only screen and (max-width: 430px) {
    header {
            font-size: 289%;
    }
}

/*Smartphone*/
@media only screen and (max-width: 320px) {
    header {
        font-size: 200%;
    }
    
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    
    nav li a {
        border-bottom: 1px solid black;
    }
}
