/*html {
    font-size: 17px;
}*/


*, 
*::before, 
*::after {
    box-sizing: border-box;
}

/* Basic Styles */

body {
    background-color: white;
    font-family: 'Special Elite', cursive;
    margin: 0;
}

.content {
    
    display: grid;
    place-items: center;
    
     
}

.grid {
    grid-column: 1;
    grid-row: 2;
}

/*I decided the header should tell you the site you're at on all the pages*/

header {
    background: black;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    
}

h1.logo {
    
    color: white;
    padding: 1%;
    
}





/*This is mostly for the 'About/Home' and 'Contact' pages*/

.about {
    font-size: 1.7em;
    font-weight: 600;
    text-align: left;
    margin: 5px;
    padding: 8px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.wrapper-one {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left {
    order: 1;
}

.right {
    order: 2;
    align-self: center;
    margin: 5px;
}


/*The icons on the contact page*/

.fa {
    color: #6d6d6d;
    text-align: center; 
    
}

.fa-huge {
    font-size: 10em;
}

/*The illustration on the 'Contact' page*/

img.chip {
    height: 99%;
    width: 99%;
}

/*The picture on the 'About/Home'page*/

img.polaroid {

   float: right;
   clear: right;
   width: 35%;
   height: 35%;
   margin: 5px 9px 5px 5px;
   padding: 4px;
   
}

/* My Responsive Menu*/

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid white;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 5% 0 3%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    background: black;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
            transform: scale(1, 0);
    -moz-transform-origin: top;
    -webkit-transform-origin: top;
            transform-origin: top;
    -moz-transition: transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
    
       
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav li {
    margin-bottom: 3%;
    margin-left: 3%;
}

nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: white;
}

.nav-toggle:checked ~ nav {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
            
}


.nav-toogle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/****The thumbnails ***/

.grid {
    margin: 0 0.5% 0 4%;
}

.grid-items {
    /*display: inline-block;*/
    cursor: pointer;
}


/* Shadow when you hover on the thumbnail */

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.thumb:hover,
.thumb:focus {
    cursor:pointer;
}


/*One way to make a site more responsive is through media queries*/

@media screen and (min-width: 900px) {
    .nav-toggle-label {
        display: none;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        
        
    }

    .content {
        height: 200vh;
        grid-template-rows: 200px repeat(4, 25%);
        
    }

    .grid {
        grid-column: 1;
        grid-row: 2;
    }

  

    .logo {
        grid-column: 3 / 3;
    }

    nav {
        /*Microsoft Edge support*/
        position: relative;
        text-align: left;
        transition: none;
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /*end of Edge support stuff*/
        grid-column: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 1.5em;
        /*margin-bottom: 0;*/
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: "";
        display: block;
        height: 5px;
        background: white;
        position: absolute;
        top: -25%;
        left: 0;
        right: 0;
        -webkit-transform: scale(0, 1);
                transform: scale(0, 1);
        transition: -webkit-transform ease-in-out 250ms;
        transition: transform ease-in-out 250ms;
        transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
      }
    
      nav a:hover::before {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
      }

}

@media screen and (max-width: 899px) {
    .content {
        grid-template-rows: 100px repeat(3, 33%);
        place-items: center;
    }

    .logo {
        margin-left: 5%;
    }
}

@media screen and (max-width: 640px) {

    /*html {
        font-size: 15px;
    }*/

    /*.content {
        height: 185vh;
    }*/

    /*.grid {
        height: 100%;
    }*/

    header {
        font-size: 0.75em;
    }

    .about {
        font-size: 1.5em;
    }

    img.polaroid {

        width: 35%;
        height: 35%;
        margin: 5px 6px 5px 5px;
        padding: 3px;
        
     }



/*Attempting to make sure the header looks good at all sizes*/

@media only screen and (max-width: 430px) {


    /*header {
        font-size: 2.33em;
    }*/

  

    .about {
        font-size: 1.33em;
    }

    .fa-huge {
        font-size: 7em;
    }
}

/*Smartphone*/
@media only screen and (max-width: 320px) {
    /*header {
        font-size: 2em;
    }*/

    .about {
        font-size: 1em;
    }

  
    }
}
